/* *** Global styling start *** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    /* font-size: 62.5%; */
    /* ? 1rem = 10px  */
    width: 100%;
    height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    /* font-size: 1.6rem; */
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    pointer-events: all;
}

/* *** Global styling end *** */
#main {
    width: 100%;
    height: 100vh;
}

/* back side code start */
#back {
    width: 100%;
    height: 100vh;
}

#back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




/* top side styling start */
#top {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

#working-area {
    width: 80%;
    margin: 0 auto;
    max-width: 1920px;
    height: 100vh;
    position: relative;
}

#nav {
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav img {
    width: 60px;

}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
    gap: 40px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
}

/* hero section */
#hero {
    display: flex;

    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    width: 100%;
}

#hero-left {
    min-width: 50%;
}

#hero-left .elem {
    height: 9vw;
    overflow: hidden;
    position: relative;

}

#hero-left .elem h1 {
    position: absolute;
    top: 100%;
    left: 0;
    font-family: "kajiro", sans-serif;
    color: #ffffff;
    font-weight: 100;
    font-size: 11vw;
    line-height: 0.9;
}

#hero-left .elem h1:first-child {
    top: 0;
}

#hero-left button {
    pointer-events: all;
    cursor: pointer;
    padding: 0.8vw 3vw;
    font-size: 3vw;
    font-family: "kajiro", sans-serif;
    margin-top: 2vw;
}

#hero-right {
    width: 25%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#hero-right p {
    text-align: right;
    font-size: 14px;
    /* margin-bottom: 30px; */
    font-weight: 300;
}

#img-div {
    width: 100%;
    height: 170px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-image: url(https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
    background-position: center;
}

#hero-right p:nth-child(3) {
    margin-bottom: 100px;
}
